<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CLink_ServiciosUSIMINAS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CLink_ServiciosUSIMINAS.Properties.Settings.ConexionBDClink"
            connectionString="Data Source=CMCCLDDB01;Initial Catalog=BDClink;Persist Security Info=True;User ID=SI$MYLIMS;Password=@M4qBjLs;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <CLink_ServiciosUSIMINAS.Properties.Settings>
            <setting name="Time" serializeAs="String">
                <value>1800000</value>
            </setting>
        </CLink_ServiciosUSIMINAS.Properties.Settings>
    </userSettings>
</configuration>